# General
setuptools==41.0.0

# YAML parsing
PyYAML==5.1
ruamel.yaml==0.15.92

# Templating and formatting
Jinja2==2.10.1
markdown2==2.3.6
inscriptis==0.0.4.0

# Logging
python-logging-loki==0.1.0

# ZAP
python-owasp-zap-v2.4==0.0.14

# Reporting
jira==2.0.0
reportportal-client @ git+https://github.com/reportportal/client-Python.git#egg=reportportal-client
