#
# Common
#

# General
setuptools==41.0.0

# YAML parsing
PyYAML==5.1
ruamel.yaml==0.15.92

# Templating and formatting
Jinja2==2.10.1
markdown2==2.3.6
inscriptis==0.0.4.0

#
# Scanning
#

# ZAP
python-owasp-zap-v2.4==0.0.14

# Qualys
dotted==0.1.8
lxml==4.2.5

# Nikto
defusedxml==0.6.0

# PT AI
beautifulsoup4==4.8.0

#
# Reporting
#

# Loki
python-logging-loki==0.1.0

# Influx
influxdb==5.2.0

# Jira
jira==2.0.0

# JUnit
junit-xml==1.8

# Redis
redis==3.0.1

# ReportPortal
reportportal-client @ git+https://github.com/reportportal/client-Python.git#egg=reportportal-client
